.container-favorites {
  .data {
    margin-top: 8rem;
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2rem;
    }

    .no-content {
      text-align: center;
      color: white;
      margin-top: 4rem;
    }
  }

  .card {
    &-container {
      display: flex;
      gap: 30px;
    }

    flex: 1;
    max-width: 200px;

    .poster {
      width: 100%;
    }
  }
}
